<configuration>
  <system.webServer>
	<handlers>
		<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\ozgurakinj\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\ozgurakinj\AppData\Local\Programs\Python\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
	</handlers>
	<urlCompression doDynamicCompression="true" />
  </system.webServer>
  <appSettings>
	<add key="WSGI_HANDLER" value="server.app" />
	<add key="PYTHONPATH" value="C:\inetpub\macdbot-main\macdbot-main" />	
</appSettings>
<system.web>
<httpRuntime executionTimeout="180" />
	<identity impersonate="false" />
	<authentication mode="Forms" />
</system.web>
</configuration>