<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <style>
        body{font-family: Barlow, sans-serif;}
        .card{
            min-height: 130px!important;
        }
    </style>
</head>
<body class="bg-dark" onload="updateTrades()">
    <section class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
            <div class="container">
              <a class="navbar-brand" href="#">Trading Bot</a>
              <button type="button" onclick="updateTrades()" class="btn btn-primary">Update</button>
            </div>
          </nav>
        
    </section>
    <section class="bg-dark">
        <div class="container py-4">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <div class="card bg-dark border-secondary bg-gradient text-white p-3 p-lg-4 p-xl-5 h-100 w-100">
                        <h2>Trades Closed</h1>
                        <h1 id="total-closed" class="display-6 ">0</h1>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <div class="card bg-dark border-secondary bg-gradient text-white p-3 p-lg-4 p-xl-5 h-100 w-100">
                        <h2>Win Rate</h1>
                        <h1 id="winrate" class="display-6 ">0.00%</h1>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <div class="card bg-dark border-secondary bg-gradient text-white p-3 p-lg-4 p-xl-5 h-100 w-100">
                        <h2>Profit</h1>
                        <h1 id="profitrate" class="display-6 ">0.00%</h1>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <div class="card bg-dark border-secondary bg-gradient text-white p-3 p-lg-4 p-xl-5 h-100 w-100">
                        <h2>Account</h1>
                        <h1 id="account-total" class="d-flex display-6 ">0</h1>
                        <span id="account-profit" class="lead">0</span>
                        
                    </div>
                </div>
    
    
            </div>
        </div>
    </section>
    <section class="bg-dark">
        <div class="container py-3">
            <div class="row">
                <div class="col text-white">
                    <h1>Trades</h1>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead class="thead-light">
                        <tr>
                            <th class="d-none d-md-table-cell">Time</th>
                            <th class="d-none d-md-table-cell">Position</th>
                            <th>Symbol</th>
                            <th>Buy Price</th>
                            <th>Sell Price</th>
                            <th>PNL</th>
                        </tr>
                    </thead>
                    <tbody id="trades-table">

                    </tbody>

                </table>
            </div>
        </div>

    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        function getAJAX(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
}
        function trackOpenPositions(){
            var collection = [];
            collection = document.getElementsByName("data-position");
            if(collection.length==0){
                trackOpenPositions();
                return;
            }
            for(var a=0;a<collection.length;a++){
                var item = collection[a];
                console.log(item);
                if(item!=undefined){
                    if(item.innerHTML == "open"){
                        var open_symbol = (item.nextElementSibling.innerHTML + "USDT").substring(1);
                        var open_buy_price = item.nextElementSibling.nextElementSibling;
                        var open_price = open_buy_price.nextElementSibling;
                        var open_pnl = open_price.nextElementSibling;
                        var ajax_url = "https://api.binance.com/api/v3/ticker/price?symbol=" + open_symbol;
                        getAJAX(ajax_url, function(text){
                            var data = JSON.parse(text)
                            open_price.innerHTML = parseFloat(data.price);
                            var open_position_pnl = (((parseFloat(data.price)-parseFloat(open_buy_price.innerHTML))/parseFloat(open_buy_price.innerHTML))*100).toFixed(2)
                            open_pnl.innerHTML = open_position_pnl;
                            open_pnl.style.color = "grey";
                            open_price.style.color = "grey";
                            if(open_position_pnl> 4 || open_position_pnl < -2){
                                setTimeout(trackOpenPositions,10000)
                                return
                            }
                        });
    
                    }
                };

            }
            setTimeout(trackOpenPositions,5000);
        }

        //usage:
        function updateTrades(){
            console.log("update")
            getAJAX("api/trades", function(text){
                var data = JSON.parse(text);
                var table = document.getElementById("trades-table");
                var total_closed = document.getElementById("total-closed");
                var winrate = document.getElementById("winrate");
                var profitrate = document.getElementById("profitrate");
                var rate = (data.winning_trades/data.closed_trades)*100;
                var account_total = document.getElementById("account-total");
                var account_profit = document.getElementById("account-profit");
                profitrate.innerHTML = ((data.profit-1)*100).toFixed(2) + "%";
                profitrate.style.color = (data.profit<1)?"red":"green"
                rate = isNaN(rate)?0:rate.toFixed(2);
                winrate.innerHTML = rate + "%";
                total_closed.innerHTML = data.closed_trades;
                var a_profit = (data.account*((((data.profit-1)*100).toFixed(2))/100)).toFixed(0);
                account_total.innerText = (parseFloat(data.account)+parseFloat(a_profit));
                account_total.innerText = account_total.innerText + "TL";
                account_profit.innerText = a_profit + "TL";
                account_profit.style.color = (a_profit<0)?"red":"green"
                account_profit.innerText = (a_profit<0) ?"-" + account_profit.innerText : "+" + account_profit.innerText;
                table.innerHTML = "";
                data.trades.forEach(element => {
                    var row = table.insertRow(-1);
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);
                    var cell3 = row.insertCell(3);
                    var cell4 = row.insertCell(4);
                    var cell5 = row.insertCell(5);
                    var pnl = (((element.position_sell_price-element.position_buy_price)/(element.position_buy_price))*100).toFixed(2)
                    var timestamp = element.position_type=="open"?element.buy_timestamp:element.sell_timestamp;
                    cell0.innerHTML = timestamp.substring(0,19)
                    cell0.classList.add('d-none');
                    cell0.classList.add('d-md-table-cell');
                    cell1.classList.add('d-none');
                    cell1.classList.add('d-md-table-cell');
                    cell1.innerText = element.position_type;
                    cell2.innerHTML = "$" + element.ticker.slice(0,-4);
                    cell3.innerHTML = element.position_buy_price;
                    cell4.innerHTML = element.position_sell_price==undefined ? "":element.position_sell_price;
                    cell5.innerHTML = cell4.innerHTML=="" ? "" : pnl + "%";
                    cell5.style.color = pnl>0 ? "green" : "red"
                    cell1.style.color = element.position_type=="open" ? "green" : "red"
                    cell1.setAttribute('name','data-position');

                })
            });
        setTimeout(trackOpenPositions,500);
        };

    </script>
</body>
</html>